{{ form_start(form) }}
<div class="controls">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="prenom">Titre de l'article</label>
                {{ form_widget(form.titre, { 'attr': {'class': 'form-control'} } ) }}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="prenom">Image</label>
                {{ form_widget(form.image) }}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="prenom">Contenu</label>
                {{ form_widget(form.contenu, { 'attr': {'class': 'form-control'} } ) }}
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12  text-center">
    <div id="success">
        <button id="submit" type="submit" name="submit" class="btn btn-medium-rsvp btn-block">Sauvegarder <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
    </div>
</div>
{{ form_end(form) }}
