{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <!-- BLOG GALLERY CONTENT SECTION -->
    <section id="reserve-image" class="v2 background-cover"  style="background-image: url('{{ asset('images/108.jpg')}}');" >
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- MAIN TITLE WRAPPER -->
                    <div class="about-section-wraper text-center animated-element-1 delay1">
                        <h2>Notre blog</h2>
                    </div>
                    <!-- END MAIN TITLE WRAPPER -->
                </div>
            </div>
        </div>
    </section>
    <section class="blog-content">
        <div class="container">
            <div class="row">
                <!--- BLOG HEADER WRAPPER -->
                {#<div class="row blgpadding">
                    <div class="col-md-6 col-xs-5">
                        <h2 class="blog-header-headline">Blog<span class="hidden-xs"> Standard</span></h2>
                    </div>
                    <div class="col-md-6 col-xs-7 text-right">
                        <h2 class="blog-header-headline">Le blog de notre évènnements,<span class="hidden-xs"> réagissez !</span></h2>
                    </div>
                </div>#}
                {% for article in articles %}

                <!-- BLOG-ITEM-4 -->
                    <div class="col-md-6 blog-image animated-element-1"  style="background-image:url({{ asset('images/'~article.image) }});">
                        <div class="blog-wraper text-left">
                            <!--LINK-->
                            <a href="{{path('article_show', {'id':article.id})}}">
                                <!-- TITLE & EXCERPT -->
                                <h3 class="">{{article.titre}}</h3>
                                <p>By Hanna & Chmouel on July 16, 2017 </p>
                                <p>Visionnez l'avancé des préparatifs  <br> et réagissez ! </p>
                                <div class="autors"> View Post <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </div>
                                <!-- END TITLE & EXCERPT -->
                            </a>
                            <!-- END LINK-->
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
